# Versions are latest version at the moment of creating the project

# general scientific packages
numpy>=1.26.4
matplotlib>=3.8.3

# Jupyter Notebools
ipykernel >= 1.26.4

# Machine leaning
albumentations>=1.4.2
tensorflow==2.16.1
sklearn >= 1.4.2
cv2 >= 4.9.0 # comment this line and use your own CUDA and CuDNN enabled build of OpenCV